<phpunit 
   backupGlobals="false"
   backupStaticAttributes="false"
   bootstrap="phpunit.php"
   colors="true"
   convertErrorsToExceptions="true"
   convertNoticesToExceptions="true"
   convertWarningsToExceptions="true"
   processIsolation="false"
   stopOnFailure="false"
   syntaxCheck="false"
>
   <testsuites>
      <testsuite name="local">
         <directory suffix="Test.php" phpVersion="5.4.0">./tests</directory>
         <exclude>./tests/live</exclude>
      </testsuite>
      <testsuite name="attribute">
         <directory suffix="Test.php" phpVersion="5.5.0">./tests/attribute</directory>
      </testsuite>
      <testsuite name="object">
         <directory suffix="Test.php" phpVersion="5.5.0">./tests/object</directory>
      </testsuite>
      <testsuite name="webservice">
         <directory suffix="Test.php" phpVersion="5.5.0">./tests/webservice</directory>
      </testsuite>
      <testsuite name="live">
         <directory suffix="Test.php" phpVersion="5.5.0">./tests/live</directory>
      </testsuite>
   </testsuites>

   <groups>
      <exclude>
         <group>live</group>
      </exclude>
   </groups>

   <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
         <directory suffix=".php">./src</directory>
      </whitelist>
   </filter>

    <logging>
        <log type="coverage-html" target="./coverage" lowUpperBound="50" highLowerBound="80"/>
    </logging>
</phpunit>