<phpunit
   backupGlobals="false"
   backupStaticProperties="false"
   bootstrap="phpunit.php"
   colors="true"
   processIsolation="false"
   stopOnFailure="false"
>
   <testsuites>
      <testsuite name="local">
         <directory>./tests</directory>
         <exclude>./tests/live</exclude>
      </testsuite>
      <testsuite name="attribute">
         <directory>./tests/attribute</directory>
      </testsuite>
      <testsuite name="object">
         <directory>./tests/object</directory>
      </testsuite>
      <testsuite name="webservice">
         <directory>./tests/webservice</directory>
      </testsuite>
      <testsuite name="live">
         <directory>./tests/live</directory>
      </testsuite>
   </testsuites>

   <groups>
      <exclude>
         <group>live</group>
      </exclude>
   </groups>

   <coverage>
       <include>
           <directory suffix=".php">./src</directory>
       </include>
   </coverage>
</phpunit>
