<phpunit
   backupGlobals="false"
   backupStaticAttributes="false"
   bootstrap="phpunit.php"
   colors="true"
   convertErrorsToExceptions="true"
   convertNoticesToExceptions="true"
   convertWarningsToExceptions="true"
   processIsolation="false"
   stopOnFailure="false"
   syntaxCheck="false"
>
   <testsuites>
      <testsuite name="local">
         <directory>./tests</directory>
         <exclude>./tests/live</exclude>
      </testsuite>
      <testsuite name="attribute">
         <directory>./tests/attribute</directory>
      </testsuite>
      <testsuite name="object">
         <directory>./tests/object</directory>
      </testsuite>
      <testsuite name="webservice">
         <directory>./tests/webservice</directory>
      </testsuite>
      <testsuite name="live">
         <directory>./tests/live</directory>
      </testsuite>
   </testsuites>

   <groups>
      <exclude>
         <group>live</group>
      </exclude>
   </groups>

   <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
         <directory suffix=".php">./src</directory>
      </whitelist>
   </filter>
</phpunit>
